* {
    margin: 0px;
    padding: 0px;
  
    font-family: "Roboto Serif", serif;
  }
   
  .container{
      width: 100%;
      height: 100%;
      background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(uploads/slider_03.jpg) ;
      background-position: center;
      background-size: cover;
      padding-left: 8%;
      padding-right: 8%;
      box-sizing: border-box;
  }
  
  .navbar{
      height: 12%;
      display: flex;
      align-items: center;
  }
  
  .logo{
      /* width: 50px; */
      cursor: pointer;
      margin-top: 15px;
  }
  nav{
      flex: 1;
      text-align: right;
      margin-top: 20px;
  }
  
  nav ul li {
      list-style: none;
      display: inline-block;
      margin-left: 60px;
  
  }
  nav ul li a {
      text-decoration: none;
      color: #fff;
      font-size: 13px;
  }

  .slider-Container{
      position: relative;
      width: 100%;
      height: 100vh;
      margin-top: 30px;
  }
 .sImg{
      width: 100%;
      height: 75vh;
  }
  .caption{
      color: #fff;
      position: relative;
      bottom: 140px;
      left: 97px;
      font-size: 26px;
  }
.caption span{

    color: aquamarine;
}
.arrow{
    position: absolute;
    bottom :392px;
    font-size: 61px;
    color: #fff;
    cursor: pointer;
}
.prev{
   position: relative;
   left: 23px;
}
.next{
    position: relative;
    right: -950px;
}
.slide{
    display: none;
}


