* {
  margin: 0px;
  padding: 0px;

  font-family: "Roboto Serif", serif;
}
 
.container{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(uploads/slider_03.jpg) ;
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}

.navbar{
    height: 12%;
    display: flex;
    align-items: center;
}

.logo{
    /* width: 50px; */
    cursor: pointer;
    margin-top: 15px;
}
nav{
    flex: 1;
    text-align: right;
    margin-top: 20px;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 60px;

}
nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 13px;
}
.row {
    display: flex;
    height: 88%;
    align-items: center;
}
.col{
    flex-basis: 50%;
}
h1{
    color: #fff;
    font-size: 38px;

}
p{
    color: #fff;
    font-size: 14px;
    line-height: 20px;
}
button{
    width: 180px;
    color: #000;
    font-size: 12px;
    padding: 12px 0;
    background-color: #fff;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
}

ul{
    color: #fff;
}
/* .card{
    width: 180px;
    height: 200px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px ;
    background-position: center;
    background-size: cover;
} */

.card1{
    background-image: url(ImagesD/Image1.jpg);

    
}
.card2{
    background-image: url(ImagesD/Image2.jpg);

}
.card3{
    background-image: url(ImagesD/Image4.jpg);
   
}
.card4{
    background-image: url(ImagesD/image7.jpg);
  
} 
/* .card{
    width: 400px;
    display: grid;
    grid-template-columns: 100px 100px ;
    grid-template-rows: 50px 50px;
    background-color: beige; */
/* } */
.col1{
    flex-basis: 50%;
    width: 200px;
    display: grid;
    grid-template-columns: 178px 178px;
    grid-template-rows:208px 208px ;
    /* background-color: bisque; */
    grid-gap: 30px;
}
.card{
    /* background-color: #000; */
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
    padding: 10px 15px;
}
.card:hover{
    transform: translateY(-10px);
}
h6{
    line-height: 1.7;
}