* {
    margin: 0px;
    padding: 0px;
  
    font-family: "Roboto Serif", serif;
  }
  .container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url(ImagesD/wallpaper2\ \(2\).jpg);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
  }
  .navbar {
    height: 12%;
    display: flex;
    align-items: center;
  }
  .logo {
    cursor: pointer;
    margin-top: 15px;
  }
  nav {
    flex: 1;
    text-align: right;
    margin-top: 20px;
  }
  nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 60px;
  }
  nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 13px;
  }